[Unit]
Description=api
Wants=network.target
After=network.target

[Service]
ExecStart=/home/ubuntu/api/target/universal/stage/bin/{{ api_bin }} -Dpidfile.path=/dev/null -Dconfig.file=/home/ubuntu/api/production.conf
Restart=always

[Install]
WantedBy=multi-user.target
