[Unit]
Description=Web App
Wants=network.target
After=network.target

[Service]
ExecStart=/home/ubuntu/web/target/universal/stage/bin/{{ web_app_bin }} -Dpidfile.path=/dev/null -Dconfig.file=/home/ubuntu/web/production.conf
Restart=always

[Install]
WantedBy=multi-user.target
